<div class="d-flex justify-content-center align-items-center">
<form [formGroup]="form" (ngSubmit)="submit()" class="p-3">
  <h2 class="mb-3">Login</h2>
  <div class="mb-2">
    <label>Email</label>
    <input class="form-control" formControlName="email" type="email" />
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input class="form-control" formControlName="password" type="password" />
  </div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Login</button>
</form>
</div>
